html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('/honeymoon/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

label {
    cursor: pointer;
}

label:hover {
    text-decoration: underline;
    cursor: pointer;
}

#welcome {
    margin-top: -20px;
    margin-bottom: 40px;
    font-weight: 400;
}

.welcome-message {
    background-color: rgba(255, 255, 255, 0.5);
    color: #1a1919;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome-message p {
    font-size: 1.1em;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

h3 {
    font-size: 1.2em;
}




#enterButton {
    animation: heartbeat 2s infinite;
    display: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    background-color: #ff0066;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;

}



#honey {
    font-family: 'Yellowtail', cursive;
    color: #ffffff;
    font-size: 54px;
    text-align: center;
    text-shadow:
        0 0 10px #ff4da6,
        0 0 20px #ff4da6,
        0 0 30px #ff0066,
        0 0 40px #ff0066,
        0 0 70px #ff0066,
        0 0 80px #ff0066,
        0 0 100px #ff0066,
        0 0 150px #ff0066;
    animation: neon-animation 1.5s ease-in-out infinite alternate;
}

@keyframes neon-animation {
    from {
        text-shadow:
            0 0 5px #ff4da6,
            0 0 10px #ff4da6,
            0 0 15px #ff0066,
            0 0 20px #ff0066,
            0 0 35px #ff0066,
            0 0 40px #ff0066,
            0 0 50px #ff0066,
            0 0 75px #ff0066;
    }

    to {
        text-shadow:
            0 0 10px #ff4da6,
            0 0 20px #ff4da6,
            0 0 30px #ff0066,
            0 0 40px #ff0066,
            0 0 70px #ff0066,
            0 0 80px #ff0066,
            0 0 100px #ff0066,
            0 0 150px #ff0066;
    }
}