html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



label {
    cursor: pointer;
}

label:hover {
    text-decoration: underline;
    cursor: pointer;
}

#welcome {
    font-family: 'Yellowtail', cursive;
    margin-top: -5px; 
    font-weight: 400;
    font-size: 1.6rem;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

ol {
    width: 80%;
    margin: auto;
}

.welcome-message p {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

h3 {
    font-size: 1.2rem;
}




#enterButton {
    animation: heartbeat 2s infinite;
    display: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    background-color: #ff0066;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;

}



#honey {
    font-family: 'Yellowtail', cursive;
    color: #ffffff;
    font-size: 54px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;

    }

    


#neon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 15px;
    height: 80px;
    border: 4px solid #fff;
    border-radius: 12px;
    box-shadow:
        0 0 8px #fff,
        inset 0 0 8px #ff0066,
        0 0 16px #ff0066,
        inset 0 0 16px #ff0066,
        0 0 32px #ff0066,
        inset 0 0 32px #ff0066; 
    }


  